body{
    background-color: burlywood;
    font-family: 'Lora', serif;
    font-size: 18px;
    line-height: 1.6em;
}

.container{
    width: 100%;
    max-width: 1200px;
    padding: 5px;
    margin: auto;
}

nav{
    background-color: crimson;
    height: 35px;
    width: 100%;
    padding: 0px;
    margin: 0px;
    list-style: none;
    box-sizing: border-box;
    display: block; 
}

nav a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;


}
.left{
    width: 65%;
    float: left;
}

.right{
    width: 30%;
    float: right;
}

figure{
    margin: 0;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 3px;
}

figure img{
    width: 100%;
    border-radius: 5px;
}

figcaption{
    color: gray;
    font-size: 11px;
}

.clear{
    display: block;
    clear: both;
}

label{
    font-size: 12px;
}

.form-control input{
    display: block;
    width: 100%;
    padding: 4px;
    font-size: 13px;
    line-height: 1.5;
    color: black;
    background-color: white;
    background-clip: ;
    border: 1px solid gray;
    border-radius: 3px;
}

.form-control{
    width: 100%;
    max-width: 400px;
}

.form-control textarea {
    display: block;
    width: 100%;
    padding: 5px;
    font-size: 13px;
    line-height: 1.5;
    color: black;
    background-color: white;
    background-clip: ;
    border: 1px solid gray;
    border-radius: 3px;

}

.form-control button {
    display: inline-block;
    font-weight: 700;
    font-size: 14px;
    color: cornsilk;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid #007bff;
    background-color: #007bff;
    border-radius: 3px;
    line-height: 1.5;




}
